body {
    background-color: #106F62;
}

.navigation-bar {
    background-color: white;
    border-color: black;
    color: #e32527;
}

.navigation-bar-column {
    color: #e32527;
}

.white-style {
    color: white;
}
