body {
    background-image: url("/images/Background_Home2.png");
    background-color: white;
    background-repeat: no-repeat, repeat;
}

h2.home-title {
    font-size: 50px;
    color: white;
    text-align: center;
    font-family: sans-serif;
}

p.home-paragraph {
    font-size: 20px;
    color: white;
    text-align: center;
}
