/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.star-width {
    width: 46%;
}

@media screen and (min-width: 550px) {
    .star-width {
        width: 53px;
    }
}

#starRating {
    display: block;
}

@media screen and (max-width: 565px) {
    #starRating {
        display: flex;
    }
}

.reviewTextArea {
    resize: none;
    height: 200px !important;
    width: 100%;
    margin-bottom: 10px;
}

.glue-stars {
    margin-right: -6px;
}

.stars-on-line {
    display: inline;
}

.a-to-button-text {
    color: white;
}

    .a-to-button-text:hover {
        color: white;
        text-decoration: none;
    }

.top-padding-review {
    padding-top: 20px;
}

    .chatmessageReceiving {
        position: relative;
        background: #3d4456;
        border-radius: .4em;
        color: white;
    }

        .chatmessageReceiving:after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            width: 0;
            height: 0;
            border: 28px solid transparent;
            border-left-color: #3d4456;
            border-right: 0;
            margin-top: -28px;
            margin-right: -28px;
        }

    .chatmessageSending {
        position: relative;
        background: #495181;
        border-radius: .4em;
        color: white;
    }

        .chatmessageSending:after {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            width: 0;
            height: 0;
            border: 28px solid transparent;
            border-right-color: #495181;
            border-left: 0;
            margin-top: -28px;
            margin-left: -28px;
        }

    .chatmessagetext {
        margin: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }