@using System.Linq
@model IEnumerable<ProftaakASP_S2.Models.UserViewModel>

@{
    ViewData["Title"] = "AccountOverview";
}

<h2>Account Overview</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Voornaam
            </th>
            <th>
                Achternaam
            </th>
            <th>
                Email
            </th>
            <th>
                Adress
            </th>
            <th>
                PostCode
            </th>
            <th>
                Woonplaats
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    ;
                </td>
                <td>
                    ;
                </td>
                <td>
                    ;
                </td>
                <td>
                    ;
                </td>
                <td>
                    ;
                </td>
                <td>
                    ;
                </td>
                <td>
                    ;
                </td>
            </tr>
        }
    </tbody>
</table>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Message");
        };
    </script>
}

